<h1>Nick's Horse Betting Emporium</h1>

<h2><a href='/horses'>Horses</a><br>
    <a href='jockeys'>Jockeys</a><br>
    <a href='/horses/new'>Create New Horse</a>
</h2>


<iframe width="560" height="315" src="https://www.youtube.com/embed/9L3KU5eiEBo" frameborder="0" allowfullscreen></iframe>